@import 'src/style/themes/clin/colors';

.homeActionCardWrapper {
  height: 175px;
  position: relative;
}

.homeActionContent {
  display: flex;
  align-items: center;
}

.homeActionCard {
  width: 100%;
  align-items: center;

  .description {
    display: block;
    transition: transform 0.1s ease;
  }

  .plusIcon {
    display: none;
  }

  &:hover {
    cursor: pointer;

    .plusIcon {
      display: initial;
    }

    .description {
      transform: translateY(50px);
    }

    .homeActionButton {
      transform: translateY(10px);
    }
  }

  .homeActionButton {
    width: 100%;
    text-align: center;
    transition: transform 0.1s ease;

    .homeActionIcon {
      font-size: 48px;
      color: $blue-8;

      svg {
        height: 48px;
        width: 48px;
      }
    }

    .text {
      color: $blue-8;
    }
  }
}
