@import 'src/style/themes/clin/colors';

.homeActionContent {
  display: flex;
  align-items: center;
}

.homeActionCardWrapper {
  height: 175px;
  position: relative;

  .homeActionCard {
    width: 100%;
    align-items: center;

    .description {
      display: block;
      transition: transform 0.1s ease;
    }

    .homeActionButton {
      width: 100%;
      text-align: center;
      transition: transform 0.1s ease;

      .homeActionIcon {
        font-size: 48px;

        svg {
          height: 48px;
          width: 48px;
        }
      }
    }
  }

  &.disabled {
    .homeActionCard {
      .homeActionIcon {
        color: $gray-6;
      }

      .text {
        color: $gray-6;
      }

      .plusIcon {
        display: none;
      }

      &:hover {
        cursor: not-allowed;

        .description {
          transform: translateY(0px);
        }

        .homeActionButton {
          transform: translateY(0px);
        }
      }
    }
  }

  &:not(.disabled) {
    .homeActionCard {
      .homeActionIcon {
        color: $blue-8;
      }

      .text {
        color: $blue-8;
      }

      .plusIcon {
        display: none;
      }

      &:hover {
        cursor: pointer;

        .plusIcon {
          display: initial;
        }

        .description {
          transform: translateY(50px);
        }

        .homeActionButton {
          transform: translateY(10px);
        }
      }
    }
  }
}
