@import 'src/style/themes/clin/colors';

.variantTabWrapper {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
  max-height: 100%;
  overflow: hidden;

  :global(.ant-pagination) {
    margin-bottom: 0;
  }

  & > :global(.ant-space-item) {
    display: flex;
    flex-direction: column;
  }

  & > :global(.ant-space-item:first-child) {
    flex: 0 0 auto;
  }

  & > :global(.ant-space-item):not(:first-child) {
    flex: 1 1 auto;
    min-height: 0;
    overflow: hidden;
  }

  & > :global(.ant-space-item:last-child) {
    flex: 0 0 auto;
  }

  :global(.ant-tabs-content-holder) {
      display: flex;
      flex-grow: 1;
      flex-shrink: 1;
      overflow: hidden;
  }

  :global(.ant-tabs-card) {
      display: flex;
      flex-grow: 1;
      flex-shrink: 1;
      overflow: hidden;
  }

  & >  :global(.ant-table-cell) {
      text-overflow: ellipsis;
  }

}

.variantSearchTable {
  div[class$='-card-bordered'] {
    border-top: none;

    > div {
      // need !important because antd add padding-top: 0 in inline style
      padding: 8px 24px 8px 24px !important;
    }
  }
}
