.prescriptionStepsPanel {
  background-color: var(--gray-1);
  padding: 24px;
  width: 100%;
  border-radius: 2px;
}
.prescriptionStepsPanel .analyseTitle {
  font-size: 12px;
}
.prescriptionStepsPanel :global(.ant-steps-item):last-child div[class$=-content] {
  min-height: 34px;
}
