@import 'colors';

$label-width: 350px;

.clinicalSignsSelect {
  :global(.ant-form-item-label) {
    width: $label-width;
  }

  .clinicalSignNotice {
    font-weight: 500;
    line-height: 22px;
  }

  .hpoCode {
    font-weight: 400;
  }

  .hpoFormItem {
    margin-bottom: 8px;
    :global(.ant-form-item) {
      margin-bottom: 0;
    }
  }

  .ageSelectInput {
    max-width: 250px;
    min-width: 250px;
  }

  .listErrorWrapper {
    border: 1px solid $red-8;
    padding: 12px 0;
    border-radius: 2px;
    background-color: $red-0;
  }

  .addClinicalSignBtn {
    padding-left: 0;

    span {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.removeIcon {
  fill: $blue-8;
  color: $blue-8;
}
