@import 'src/style/themes/clin/layout';

.contentWithFooter {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;

  .containerWrapper {
    flex-grow: 1;
    align-items: start;
    padding: $default-page-content-padding;

    .container {
      height: 100%;
    }
  }
}