@import 'src/style/themes/clin/colors';

.headerLink {
  .headerBtn {
    border: none;
    padding: 4px 8px;
    margin: 0 5px;
    background-color: transparent;
    color: $gray-1;

    &:hover,
    &:focus,
    &.active {
      background-color: $blue-8;
      border: none;
      color: $gray-1;
    }

    &:focus-visible {
      border: 1px solid $gray-1;
    }
  }
}
