.headerLink .headerBtn {
  border: none;
  padding: 4px 8px;
  margin: 0 5px;
  background-color: transparent;
  color: var(--gray-1);
}
.headerLink .headerBtn:hover, .headerLink .headerBtn:focus, .headerLink .headerBtn.active {
  background-color: var(--blue-8);
  border: none;
  color: var(--gray-1);
}
.headerLink .headerBtn:focus-visible {
  border: 1px solid var(--gray-1);
}
