@import 'src/style/themes/clin/layout';

.variantPageContent {
    flex-grow: 1;
    width: 100%;
    display: flex;
    max-height: 100%;
    overflow: hidden;
    position: relative;
    padding: $default-page-content-padding;

    & > :global(.ant-space-item):not(:first-child) {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        overflow: hidden;
    }

    :global(.ant-card-body) {
        flex-grow: 1;
        flex-shrink: 1;
        height: 100%;
        max-height: 100%;
    }
    :global(.ant-card) {
        flex-grow: 1;
        flex-shrink: 1;
        height: 100%;
    }

    & >  :global(.ant-table-cell) {
        text-overflow: ellipsis;
    }
}
