.submissionForm {
  span[class$='-item-label'] {
    width: 30%;

    @media screen and (min-width: 1450px) {
      width: 25%;
    }
  }
}

.supervisorCommentWrapper {
  margin-left: 1px;
  margin-right: 1px;

  :global(.ant-row) {
    flex-direction: column;
  }
}

.reviewLabel {
  margin-top: 48px;
  margin-bottom: 12px;
}
