@import 'src/style/themes/clin/colors';

.variantTableCellElipsis {
  div {
    max-width: 160px;
    width: 140px;
    div {
      overflow: hidden;
      text-overflow: ellipsis;
      overflow-wrap: unset;
      white-space: nowrap;
    }
  }
}

.variantTableCell {
  min-width: 160px;
}

.dbSnpTableCell {
  min-width: 140px;
  width: 12%;
}

.variantSnvOmimCellItem {
  margin-bottom: 2px;
}

.userAffectedBtnCell {
  .affectedIcon {
    display: flex;
    margin: auto;
    fill: $blue-8;
    &:hover {
      cursor: pointer;
    }
  }
}

.rqdmCell {
  min-width: 100px;
}

.fixedVariantTableCellElipsis {
  min-width: 100px;
  max-width: 100px;
  width: 100px;
  div {
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: unset;
    white-space: nowrap;
  }
}
