@import 'src/style/themes/clin/layout';

.contentWithHeader {
  display: flex;

  .pageWrapper {
    height: calc(100vh - #{$main-header-height} - #{$page-header-height});
    display: flex;
    width: 100%;
  }
}
