@import 'src/style/themes/clin/colors';

.searchBox {
  width: 100%;

  .searchCard {
    &:global(.ant-card) {
      padding: 32px 40px;
    }

    :global(.ant-card-body) {
      overflow: unset !important;
    }
  }

  .searchHeader {
    gap: 8px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .searchBoxIcon {
    font-size: 48px;
    color: $blue-8;
    display: flex;
    align-items: center;

    svg {
      height: 48px;
      width: 48px;
    }
  }

  .searchBoxTitle {
    font-size: 16px;
    min-width: 220px;
    width: 220px;
    display: flex;
    justify-content: center;
    color: $blue-8;
  }

  .searchInputWrapper,
  .searchInput {
    width: 100%;
  }

  .searchWrapper {
    display: flex;
    align-items: center;
    gap: 48px;
  }
}
