@import 'src/style/themes/clin/colors';
@import 'src/style/themes/clin/layout';

$sider-padding: 14px;
$sider-width: 320px;

.siderContainer {
  padding: $sider-padding;
  padding-bottom: 0;
  height: calc(100vh - #{$main-header-height} - #{$page-header-height});
  border-right: 1px solid $gray-5;
  max-width: $sider-width;
  min-width: $sider-width;
  transition: width 0.2s, min-width 0.2s;

  &.collapsed {
    width: 50px;
    min-width: 50px;
  }

  &:first-child > span {
    display: flex;
    justify-content: flex-start;
    color: $gray-8;
    font-size: 21px;
  }

  & > .scrollWrapper {
    margin-top: 12px;
    padding-bottom: 14px;
    min-height: 50px;
    width: 100%;
    height: calc(100% - (2 * #{$sider-padding}) - 8px);
    min-width: calc(#{$sider-width} - (2 * #{$sider-padding}));
    opacity: 1;
    margin-left: 0px;
    transition: margin-left 0.2s;

    &.collapsed {
      opacity: 0;
      margin-left: calc(-1 * #{$sider-width});
    }
  }

  .loader {
    min-height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & :global(.ant-card) {
    background-color: transparent;
    border: none;
    height: 100%;
    min-height: auto;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  & :global(.ant-card.core-grid-card) :global(.ant-card-head),
  :global(.ant-card-body) {
    margin: 0;
  }

  & :global(.ant-card.core-grid-card) :global(.ant-card-body) {
    margin: 0;
    height: 40px;
  }

  & :global(.ant-collapse),
  :global(.ant-collapse-item) {
    background-color: $gray-1;
    border: none;
  }
}
