@import 'src/style/themes/clin/colors';

.variantTabWrapper {
  display: flex;

  :global(.ant-pagination) {
    margin-bottom: 0;
  }
}

.variantSearchTable {
  min-height: 0;

  div[class$='-card-bordered'] {
    border-top: none;

    > div {
      // need !important because antd add padding-top: 0 in inline style
      padding: 8px 24px 8px 24px !important;
    }
  }
}
