@import 'src/style/themes/clin/colors';

.antModal {
  span[class$='-modal-confirm-title'] {
    color: $blue-9;
  }
  &.info {
    span[class$='-exclamation-circle'] {
      color: $blue-7;
    }
  }
  &.error {
    span[class$='-exclamation-circle'] {
      color: $red-8;
    }
  }
  &.success {
    span[class$='-exclamation-circle'] {
      color: $green-7;
    }
  }
  &.warning {
    span[class$='-exclamation-circle'] {
      color: $orange-7;
    }
  }
}
