@import 'src/style/themes/clin/colors';
@import 'src/style/themes/clin/layout';

.contentHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 16px 24px;
  background-color: $gray-1;
  display: flex;
  align-items: center;
  height: 60px;

  .header {
    .headerIcon {
      color: $blue-9;
      font-size: 18px;

      > svg {
        display: flex;
      }
    }

    .backArrow {
      display: flex;
      font-size: 18px;
      margin-right: 12px;
      color: $blue-9;

      &:hover {
        color: $blue-8;
        cursor: pointer;
      }
    }

    .titleSkeleton {
      *[class$='-title'] {
        margin: 0;
        height: 24px;
      }
    }
  }
}
