.contentWithFooter {
  width: 100%;
  height: 100%;
}
.contentWithFooter .mainWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contentWithFooter .containerWrapper {
  flex-grow: 1;
  align-items: start;
  padding: var(--default-page-content-padding);
}
.contentWithFooter .containerWrapper .container {
  height: 100%;
}
