@import 'src/style/themes/clin/colors';

.landingPage {
    .switchLang {
      position: absolute;
      top: 40px;
      right: 40px;

      .langBtn {
        padding: 5px 16px;
      }
    }

    .landingCard {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: 32px;
      margin: 24px 80px;
      max-width: 860px;
    }
  
    .logoContainer {
      display: flex;
      justify-content: center;
      gap: 24px;
      flex-wrap: wrap;
    }
  
    .landingTitle {
      width: 120px;
    }

    .logoGrid {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin: 80px 160px 80px 80px;
        max-width: 680px;
    }

    .logoRow {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 24px;
    }

    .sssLogoContainer {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 80px;
    }
}
  