@import 'src/style/themes/clin/colors';
@import 'src/style/themes/clin/layout';

.variantEntity {
  .entitySections {
    width: 100%;

    :global(.ant-tabs-content) {
      height: 100%;
    }

    div[class$='-nav'] {
      background-color: white;

      div[class$='-nav-list'] {
        padding: 0 24px;
      }
    }

    :global(.ant-tabs-content-holder) {
      overflow: auto;
    }
  }
}
