@import 'src/style/themes/clin/layout';
@import 'src/style/themes/clin/colors';

.homePageWrapper {
  height: calc(100vh - #{$main-header-height} - #{$page-header-height});

  .contentWrapper {
    height: 100%;

    .contentCardWrapper {
      height: 100%;
      max-width: 1200px;
      margin: auto;

      .contentCard {
        &:global(.ant-card) {
          padding: 48px;
        }
      }
    }

    .contentCol {
      width: 100%;
    }
  }
}