@import 'src/style/themes/clin/layout';
@import 'src/style/themes/clin/colors';

.homePageWrapper {
  height: calc(100vh - #{$main-header-height} - #{$page-header-height});

  .contentWrapper {
    height: 100%;

    .contentCardWrapper {
      max-width: 1200px;
      margin: auto;

      .contentCard {
        padding: 0px;
        margin-bottom: 24px;

        & > :global(.ant-card-head) {
          padding: 16px 24px;
          & :global(.ant-card-head-title) {
            padding-bottom: 0px;
          }
        }

        & > :global(.ant-card-body) {
          padding: 16px 24px;
        }
      }
    }

    .contentCol {
      width: 100%;
    }
  }
}

.questionIcon {
  color: $blue-8;
}