@import 'src/style/themes/clin/layout';
@import 'src/style/themes/clin/colors';

.homePageWrapper {
  height: calc(100vh - #{$main-header-height} - #{$page-header-height});

  .contentWrapper {
    height: 100%;

    .contentCardWrapper {
      max-width: 1200px;
      margin: auto;

      .contentCard {
        padding: 0px;
        margin-bottom: 24px;

        & > :global(.ant-card-head) {
          padding: 16px 24px;

          & :global(.ant-card-head-title) {
            padding-bottom: 0px;
          }
        }

        & > :global(.ant-card-body) {
          padding: 16px 24px;
        }
      }
    }

    .contentCol {
      width: 100%;
    }
  }
}

.questionIcon {
  color: $blue-8;
}

.successModal {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
  flex: 1;

  h3, h2, p {
    margin: unset;
  }

  h3, h2 {
    line-height: 28px;
  }

  > span > svg {
    font-size: 63px;
    margin-bottom: 10px;
    color: $green-6;
  }
}